*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ;
}
body{

    background: linear-gradient(160deg,#0093E9, #80D0C7);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
main.container{

    background-color: white;
    width: 1000px;
    min-height: 80vh;
    padding: 2rem;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.2);
    border-radius: 5px;
}
div.infos{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 1rem;
min-height: 20vh;

}
div.info{

    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    padding: 1rem;
    border-radius: 10px;
    max-width: 800px;
    


}
form{

display: flex;
justify-content: flex-start;


}

input.input_text{


    margin-left: 10px;
    margin-right: 1rem;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    padding: 1rem;
    border-radius: 10px;
    width: 850px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#button{
    
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(to left, #0093E9, #80D0C7 );
    color: white;
    cursor: pointer;

}